<h1>Events</h1>


<%= line_chart @events.group(:name).count %>

<%= line_chart @events.group_by_day(:created_at).count %>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Data</th>
    <th>URI</th>
  </tr>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.data %></td>
        <td><%= event.uri %></td>
        <td><%= event.created_at.to_s(:long) %></td>
      </tr>
    <% end %>
  </table>