<h1><%= @domain.name %></h1>
<p><%= @domain.url %></p>

<div>
  <p> Please include the following code in your <strong>index.html page</strong> </p>
  <pre> &lt;script src='//trackmetrics.herokuapp.com//assets/trackmetrics.js' type='text/javascript'&gt;&lt;/script&gt;</pre>
<pre> 
&lt;script&gt;
    Trackmetrics.setAuthToken('<%= current_user.authentication_token %>');
    Trackmetrics.send("page_view",{test: true});
&lt;/script&gt;
</pre> 
</div>


<%= link_to "Dashboard", domain_events_url(@domain), class: "btn btn-lg btn-success" %>

<% if !@domain.active? %>
<div class="alert alert-danger">
  <strong>Oops!</strong> Your domain is not verified!.
</div>
<div class="lead">
  Please add the following meta tag to your domain root url page
  <pre><%= "<meta name='trackmetrics_verification' content='#{@domain.verification_token}'/>" %></pre>
</div>
<%= link_to "I'm all set, verify now", verifications_url(domain_id: @domain.id), method: :post, class: "btn btn-primary" %>
<% end %>
<% if policy(@domain).edit? %>
<%= link_to "Edit", edit_domain_path(@domain), class: 'btn btn-success' %>
<% end %>

 
<%= link_to "New Domain", new_domain_path(@domain), class: 'btn btn-success' %>
<p><%= link_to "Back to List", domains_path %></p>


